<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <h3>Table (<a href = "{{ url_for('settable') }}">Change Table
         </a>)</h3>
      <table>
         <tbody>
                  <td>{{ tabledefine }}</td>
                  <td>{{ tablename }}</td>
         </tbody>
      <table>
          {% for data in tabledata %}
               <tr>
                  <td>{{ data.id }}</td>
                  <td>{{ data.name }}</td>
                  <td>{{ data.age }}</td>
               </tr>
            {% endfor %}
       </table>
      </table>
</body>
</html>